<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curItemName</key>
	<string>Unicode2中文</string>
	<key>configs</key>
	<dict>
		<key>1-Unicode2中文</key>
		<dict>
			<key>className</key>
			<string>SGUnicode2Chinese</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>2-中文2Unicode</key>
		<dict>
			<key>className</key>
			<string>SGChinese2Unicode</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>3-生成Model</key>
		<dict>
			<key>className</key>
			<string>SGFormateModel</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>4-生成Json</key>
		<dict>
			<key>className</key>
			<string>SGFormateJson</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>5-生成Dal头文件</key>
		<dict>
			<key>className</key>
			<string>SGDalHeaderCreate</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>6-生成Dal源文件</key>
		<dict>
			<key>className</key>
			<string>SGDalSourceCreate</string>
			<key>helpMsg</key>
			<string></string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
		<key>7-DES加密解密</key>
		<dict>
			<key>className</key>
			<string>SGCryptorHelper</string>
			<key>helpMsg</key>
			<string>格式是:  key:searl</string>
			<key>inputType</key>
			<string>0</string>
			<key>outputType</key>
			<string>0</string>
			<key>inputString</key>
			<string></string>
			<key>outputString</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
